<div class="container">
  <h1>My Invoices#index</h1>
  <h2>
    <% if @number_of_invoices == nil %>
      <h2>Add clients before invoicing!</h2>
    <% end %>
  </h2>
  <% @invoices.each do |invoice| %>
    <%= link_to invoice.object, invoice_path(invoice) %>
    <%= invoice.selected_client.client.name %>
  <% end %>
</div>
